<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">

    <listeners>
        <listener class-name="Tests.TestComponents.Listeners"/>
    </listeners>
    <!--groups>
        <run>
            <include name="ErrorHandling"/>
      </run>
    </groups-->
    <test thread-count="1" verbose="2" preserve-order="true" name="C:/Users/manav/manav_java2_project/
    manav_java2_project/manav_java2_selenium_project">
        <classes>
            <class name="Tests.ErrorValidations">
            <methods>
                <include name="submitOrder"/>
                <include name="ProductErrorValidation"/>
            </methods>
            </class>
            <class name="Tests.SubmitOrder">
            <methods><include name="submitOrder"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>